.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 5vw;
  height: 100vh;
  background-color: #070415;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease;
  overflow: hidden; 
  z-index: 5;
}

.navbar.open {
  width: 18vw;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3vh 0;
  background-color: #070415;
}

.navbar-title {
  color: white;
  font-size: 1.5em;
  margin-left: 1em;
  display: none; /* Hide the title by default */
}

.navbar.open .navbar-title {
  display: block;
}

.right-arrow {
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  position: relative;
  transition: transform 0.3s ease;
}

.navbar.open .right-arrow.open {
  transform: rotate(180deg);
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  overflow-y: auto;
}

.navbar-list .dropdown {
  position: relative;
  width: 100%;
}

.navbar-list .dropbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
  color: white;
}

.navbar-icon {
  margin-left: 1em;
}

.navbar-text {
  flex-grow: 1;
  text-align: left;
  margin-left: 1em;
}

.arrow {
  margin-right: 1em;
  transition: transform 0.3s ease; /* Add transition for smooth rotation */
}

.arrow.open {
  transform: rotate(180deg); /* Rotate the arrow when dropdown is open */
}

.dropdown-content {
  display: none;
  flex-direction: column;
  width: 100%;
  background-color: #070415;
}

.dropdown-content.show {
  display: flex;
}

.dropdown-text {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: white;
  padding: 1vw 1vw 1vw 5vw;
}

.dropdown-text:hover {
  background-color: #333;
}

.navbar-list .active,
.navbar-list .dropbtn:hover,
.dropdown-content .dropdown-text:hover {
  background-color: #333; /* Change background color for active or hovered item */
}

@media (max-width: 800px) {
  .navbar {
    width: 10vw;
  }

  .navbar.open {
    width: 50vw;
  }
}